* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.message {
    color: rgb(19, 61, 7);
    font-family: 'Playfair Display', serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(152, 158, 143);
}

.rps-container {
    display: flex;
    gap: 2rem;
    padding: 25px;
    background-color: rgb(165, 155, 136);
}

.player,
.opponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.score {
    font-weight: bolder;
    font-size: 30px;
}

img {
    height: 150px;
    width: auto;
}